.todo-list__footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.todo-list__footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
  0 8px 0 -3px #f6f6f6,
  0 9px 1px -3px rgba(0, 0, 0, 0.2),
  0 16px 0 -6px #f6f6f6,
  0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-list__info {
  float: left;
  text-align: left;
}

.todo-list__info strong {
  font-weight: 300;
}
.todo-list__controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}
.todo-list__controls .tabs .tabs__item {
  display: inline;
}

.todo-list__controls .tabs__item a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.todo-list__controls .tabs__item--active a,
.todo-list__controls .tabs__item--active:hover a {
  border-color: rgba(175, 47, 47, 0.1);
}

.todo-list__controls .tabs__item--active a {
  border-color: rgba(175, 47, 47, 0.2);
}

.todo-list__clear-completed,
html .todo-list__clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.todo-list__clear-completed:hover {
  text-decoration: underline;
}
